@use "../../helpers" as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    font-size: rem(18);
    line-height: rem(27);

    @include laptop {
        font-size: rem(14);
        line-height: rem(21);
    }
    @include mobile {
        font-size: rem(12);
        line-height: rem(18);
    }

    &::after {
        --size: #{rem(24)};
        @include square(var(--size));

        content: "";
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include laptop {
            --size: #{rem(20)};
        }
    }

    &--yellow-arrow {
        &::after {
            background-image: url("../../../../public/icons/header/arrow.svg");
        }
    }

    &--yellow-eye {
        &::after {
            background-image: url("../../../../public/icons/header/yellow.svg");
        }
    }

    &--gray-arrow-down {
        &::after {
            background-image: url("../../../../public/icons/blog-details/arrow-down_gray.svg");
        }
    }
}
