@use "burger-button";
@use "icon";
@use "logo";
@use "button";
@use "../../helpers" as *;

.header {
    &__promo {
        padding-block: rem(20);
        text-align: center;
        border-bottom: var(--border);
    }

    &__body {
        padding-block: rem(24);
        background-color: var(--color-dark-10);

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;
        }
    }
}
